# HW-05

#### Author: Sanjay Bhargav Siddi

This document shows a comprehensive regression analysis on a the Life Expectancy dataset from the 2023 #tidytuesday repository. The process includes data exploration, preprocessing, Ordinary Least Squares (OLS) regression with assumption checks, and the implementation and evaluation of alternative regression methods such as Ridge and Lasso.

## 1. Data selection and exploration

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

Getting the dataset from #tidytuesday

In [6]:
life_expectancy = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-12-05/life_expectancy.csv')
life_expectancy_different_ages = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-12-05/life_expectancy_different_ages.csv')
life_expectancy_female_male = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2023/2023-12-05/life_expectancy_female_male.csv')

In [13]:
merged_data = pd.merge(life_expectancy, life_expectancy_different_ages, on=['Entity', 'Code', 'Year'])
data = pd.merge(merged_data, life_expectancy_female_male, on=['Entity', 'Code', 'Year'])

In [16]:
data

,Entity,Code,Year,LifeExpectancy,LifeExpectancy0,LifeExpectancy10,LifeExpectancy25,LifeExpectancy45,LifeExpectancy65,LifeExpectancy80,LifeExpectancyDiffFM
0,Afghanistan,AFG,1950,27.7275,27.7275,49.1459,54.442200,63.422500,73.4901,83.7259,1.261900
1,Afghanistan,AFG,1951,27.9634,27.9634,49.2941,54.564400,63.500603,73.5289,83.7448,1.270601
2,Afghanistan,AFG,1952,28.4456,28.4456,49.5822,54.799800,63.647600,73.6018,83.7796,1.288300
3,Afghanistan,AFG,1953,28.9304,28.9304,49.8634,55.028603,63.788902,73.6706,83.8118,1.306601
4,Afghanistan,AFG,1954,29.2258,29.2258,49.9306,55.116500,63.848100,73.7041,83.8334,1.276501
...,...,...,...,...,...,...,...,...,...,...,...
19485,Zimbabwe,ZWE,2017,60.7095,60.7095,64.6277,66.110596,71.014100,78.5895,86.8135,4.748299
19486,Zimbabwe,ZWE,2018,61.4141,61.4141,65.1821,66.604500,71.267200,78.6681,86.8399,4.625503
19487,Zimbabwe,ZWE,2019,61.2925,61.2925,65.0582,66.491600,71.203400,78.6739,86.8614,5.017799
19488,Zimbabwe,ZWE,2020,61.1242,61.1242,64.8006,66.086900,70.519104,78.0986,86.5717,5.732201
19489,Zimbabwe,ZWE,2021,59.2531,59.2531,62.8058,64.169700,68.801200,76.8507,85.7716,5.812798

### 1.1 Dataset Description:

|     Variable           |   Class  |             Description                           |
|:-----------------------:|:--------:|:-------------------------------------------------:|
|         Entity          | character|     Country or region entity                       |
|          Code           | character|              Entity code                           |
|          Year           |  double  |                    Year                             |
|    LifeExpectancy0      |  double  | Period life expectancy at birth - Sex: all - Age: 0|
|    LifeExpectancy10     |  double  |    Period life expectancy - Sex: all - Age: 10    |
|    LifeExpectancy25     |  double  |    Period life expectancy - Sex: all - Age: 25    |
|    LifeExpectancy45     |  double  |    Period life expectancy - Sex: all - Age: 45    |
|    LifeExpectancy65     |  double  |    Period life expectancy - Sex: all - Age: 65    |
|    LifeExpectancy80     |  double  |    Period life expectancy - Sex: all - Age: 80    |
| LifeExpectancyDiffFM    |  double  | Life expectancy difference (f-m) - Type: period - Sex: both - Age: 0|